<h1 align='center'>
    La base de donnée de Profil est dans 
    <a href="http://127.0.0.1:8000/profil/" target="_blank">http://127.0.0.1:8000/profil/</a> et celle de Appareil dans <a href="http://127.0.0.1:8000/appareil/" target="_blank">http://127.0.0.1:8000/appareil/</a>.<br>
    Il y a aussi les données de la base sous forme de table dans <a href="http://127.0.0.1:8000/showProfil/" target="_blank">http://127.0.0.1:8000/showProfil/</a> et celle de Appareil dans <a href="http://127.0.0.1:8000/showAppareil/" target="_blank">http://127.0.0.1:8000/showAppareil/</a>
    Le path admin n'a pas de superutilisateur enregistré.